.Detail_row{
    		margin: 30px auto;
    	}
    	
    	.Detail_info{
    		width: 100%;
    	}
    	.Detail_info_left {
    		width:30%; 
    		height:300px; 
    		float:left;
    	}

    	.Detail_info_imgtable{
    		width: 100%;
    	}
    	.Detail_info_mainimg{
    		height:200px; 
    		border: 1px solid #BDBDBD;
    		border-collapse:collapse;
    		text-align:center;    		
    	}
    	
    	.Detail_info_mainimg img{
    		width:100%;
    		height:100%;
    	}
    	
    	.Detail_info_subimg{
    		width:30%; 
    		height: 100px; 
    		border: 1px solid #BDBDBD;
    		border-collapse:collapse;
    		text-align:center;
    	}
    	
    	.Detail_info_subimg img{
    		width:100%;
    		height:100%;
    	}
    	
    	.Detail_info_rigth{
    		width:70%; 
    		height:300px; 
    		border: 1px solid #BDBDBD; 
    		padding: 1em;
    		float:right;
    		vertical-align:top;
    		text-align:left;
    	}
	
    	.Detail_info_rightinfo{
    		width:100%;
    		min-height: 200px;
    	}
    	
    	.Detail_bidStamp{
			width:200px; 
			height:100px; 
			font:12px; 
			color: blue; 
			font-weight:bold; 
			border:2px solid blue; 
			text-align:center; 
			padding-top:20px; 
			float:right;
		}
    	.Detail_info_rightbtn{
    		width:100%;
    		margin-top:10px;
    	}
    	
    	.Detail_bidbtn{
    		padding:0.6em;
    		float:right;
    	}
  		.Detail_bidbtn2{
    		min-height:50px;
    		margin-left:20px;
    		padding:0.6em;
    		float:right;
    		background-color:#56B6E6;
    		color: white;
    		font:bold;
    	}
    	.Detail_infotable{
    		width: 100%;
    	}
  
    	#Detail_tabcontainer {
		    width: 100%;
		    margin-top:30px;
		}
		ul.tabs {
		    margin: 0;
		    padding: 0;
		    float: left;
		    list-style: none;
		    height: 51px;
		    border-bottom: 1px solid #eee;
		    border-left: 1px solid #eee;
		    width: 100%;
		    font-family:"dotum";
		    font-size:12px;
		}
		ul.tabs li {
		    float: left;
		    text-align:center;
		    cursor: pointer;
		    width:250px;
		    height: 50px;
		    line-height: 50px;
		    border: 1px solid #eee;
		    border-left: none;
		    font-weight: bold;
		    background: #fafafa;
		    overflow: hidden;
		    position: relative;
		}
		ul.tabs li.active {
		    background: #FFFFFF;
		    border-bottom: 1px solid #FFFFFF;
		}
		.Detail_tab_container {
		    border: 1px solid #eee;
		    border-top: none;
		    clear: both;
		    float: left;
		    width: 100%;
		    background: #FFFFFF;
		}
		.tab_content {
		    padding: 2em;
		    font-size: 12px;
		    display: none;
		}
		.Detail_tab_container .tab_content ul {
		    width:100%;
		    margin:0px;
		    padding:0px;
		}
		.Detail_tab_container .tab_content ul li {
		    padding:5px;
		    list-style:none;
		}
		
		
		
		/** QnA Css **/
		.Detail_row{
			margin: 30px auto;
		}
		.Detail_qnabox{
			width:100%;
			float:center;
			margin:auto;
		}
		.Detail_answertxt{
			width:100%; 
			margin-bottom:1em;
		}
		.Detail_answertxt td{
			text-align:right; 
			padding-bottom: 20px;
		}
		.Detail_answertextarea{
			width:100%;
		}
		
		.Detail_qnalist{
			width:100%;
			float:center;
			margin:auto;
		}
		.Detail_question{
			width:100%;
			min-height:50px;	
		}
		.Detail_question_name{
			padding-top:1em;
			text-align:left;
			border-top:1px solid #BDBDBD;	
		}
		.Detail_question_date{
			padding-top:1em;
			text-align:right;
			border-top:1px solid #BDBDBD;	
		}
		.Detail_question_content{
			padding-top:1em;
			text-align:left;
			padding-bottom:1em;
		}
		.Detail_question_btn{
			padding-top:1em;
			padding-bottom:1em;
			text-align:right;
		}
		.Detail_answertextarea{
			margin-top:1em;
			margin-bottom:0.3em;
		}
		blockquote{
			border-left: 5px solid #BDBDBD;
			padding-left:1em;
		}
		