<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mypage">
	<!-- 휴대폰 인증시 폰넘버 업데이트 -->
	<update id="updatephone">
	update member set member_phone = #{memberPhone} 
			where member_id = #{memberId}
	</update>
	<!-- 이메일 인증시 이메일 업데이트 -->
	<update id="updateemail">
	update member set member_email = #{memberEmail} 
			where member_id = #{memberId}
	</update>
	<select id="sellList" resultMap="sellList">
		select * from product_io where seq_member_no = #{seqMemberNo}
	</select>
	<resultMap type="map" id="sellList">
	
	</resultMap>
	
</mapper>
