<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">
	<insert id="insertMember">
	insert into member (seq_member_no, member_id, member_password, member_name, gender, member_alarm, member_interest, member_birth, member_email, member_address, member_addressdetail, member_mail_no ) 
				values( seq_member_no.nextval, #{memberId}, #{memberPassword}, #{memberName}, #{gender}, #{memberAlarm}, 
				#{memberInterest}, #{memberBirth}, #{memberEmail}, #{memberAddress},#{memberAddressDetail},#{memberMailNo} )
	</insert>
	
	<select id="selectOneMember" resultMap="selectOneMember" >
	select * from member where member_id = #{memberId}
	</select>
	<resultMap type="m" id="selectOneMember">
		<result column="interest" property="interest" typeHandler="strArrTypeHandler"/>
	</resultMap>
	
	<update id="memberUpdate">
	update member set membername = #{memberName} ,
					  gender = #{gender} ,
					  age = #{age} ,
					  email = #{email} ,
					  phone = #{phone} ,
					  address = #{address} ,
					  hobby = #{hobby , typeHandler=com.kh.spring.common.typehandler.StringArrayTypeHandler}
	where memberid = #{memberId}
	</update>
	
	
		<insert id="insertFaceBookMember">
	insert into member (seq_member_no, member_id, member_password, member_name, Gender, member_birth, member_email, member_sns_account ) 
				values( seq_member_no.nextval, #{memberId}, 'facebook',  #{memberName}, #{gender}, #{memberBirth},#{memberEmail}, 'y' )
	</insert>
	<insert id="insertKakaoMember">
	insert into member (seq_member_no, member_id, member_password, member_name, Gender, member_birth, member_email, member_sns_account ) 
				values( seq_member_no.nextval, #{memberId}, 'Kakao',  #{memberName}, #{gender}, #{memberBirth},#{memberEmail}, 'y' )
	
	</insert>
	
	<insert id="insertgoogleMember">
	insert into member (seq_member_no, member_id, member_password, member_name, Gender, member_birth, member_email, member_sns_account ) 
				values( seq_member_no.nextval, #{memberId}, 'google',  #{memberName}, #{gender}, #{memberBirth},#{memberEmail}, 'y' )
	</insert>
	
	<select id="selectOneFBMember" resultMap="selectOneMember" >
	select member_id from member where member_id = #{memberId}
	</select>
	
	<select id="selectmemberId" resultType="string">
		select member_id from member where member_email = #{memberEmail}
	</select>
	
	<select id="countmember" resultType="_int">
		select count(*) from member where member_id=#{memberId} and member_phone = #{memberPhone}
	</select>
	
	<update id="updatePwd">
		update member set member_password = #{memberPassword} where member_id = #{memberId}
	</update>
	
	<select id="countmemberId" resultType="_int">
		select count(*) from member where member_Email=#{memberEmail}
	</select>
	
	<update id="updateItr" parameterType="map">
		update member set member_interest = #{interest} where seq_member_no = #{memberNo}
	</update>
	
</mapper>
