<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="basket">
	<select id="selectOneProduct" resultType="product">
		select * from product where seq_product_no = #{num}
	</select>
	<select id="selectJoinMember" resultType="m">
		select * from member where seq_member_no = #{sellerNo}
	</select>
	<insert id="insertBasket">
		insert into basket values (seq_basket_no.nextval, #{seqMemberNo}, #{seqProductNo})
	</insert>
	<select id="selectProductList" resultMap="basketMap">
	select * from basket b join product p  on b.seq_product_no =p.seq_product_no join member m on b.seq_member_no =  m.seq_member_no where m.seq_member_no = #{seqMemberNo} and product_onsale = 'Y'
	</select>
	<resultMap type="map" id="basketMap"></resultMap>
	<delete id="deletBasketList">
		delete from basket where seq_basket_no = #{seqBasketNo}
	</delete>

	<select  id="selectSum" resultType="_int">
	select sum(product_price) from basket b join product p  on b.seq_product_no =p.seq_product_no join member m on b.seq_member_no =  m.seq_member_no where m.seq_member_no = #{seqMemberNo}
	</select>

	<insert id="insertAsk" parameterType="productAsk">
		insert into product_ask values ( seq_ask_no.nextval, #{askContent}, 'N', sysdate , #{askUser}, #{seqProductNo})
		<selectKey order="AFTER" resultType="_int" keyProperty="seqAskNo">
			select seq_ask_no.currval from dual
		</selectKey>
	</insert>
	<update id="updateProduct" parameterType="map">
		update product set seq_ask_no = #{askNo} where seq_product_no = #{productNo}
	</update>
	
	<select id="searchItems" resultType="product">
		select * from product where product_name like '%'||#{searchKeyword}||'%' and product_onsale = 'Y'
	</select>
	
	<select id="searchItemsAjax" resultMap="searchAjaxMap">
		select * from product where product_name like '%'||#{myData}||'%' and product_onsale = 'Y'
	</select>
	<resultMap type="map" id="searchAjaxMap"></resultMap>
	
	<select id="selectOneBasket" resultType="basket">
		select * from basket where seq_member_no = #{seqMemberNo} and seq_product_no = #{seqProductNo}	
	</select>
	
	<select id="selectAllRegist" resultType="regist">
		select * from regist where regist_auction = 'N' order by regist_date desc
	</select>
	
	<select id="selectNew" resultType="product">
		select * from product where product_onsale = 'Y' order by product_enroll_date desc
	</select>
	
	<select id="selectNowProduct" resultType="product">
		select * from product where category_macro = #{cMacro} and category_micro = #{cMicro} and seq_product_no != #{cProNo}
	</select>
	
	<select id="selectAskAll" resultType="productAsk">
		select * from product_ask where seq_product_no = #{productNo}
	</select>
	
	<select id="selectUpItems" resultType="product">
		select * from product where product_onsale = 'Y' and product_recommend = 'Y'
	</select>
	
	<select id="selectItr" resultType="product" parameterType="java.util.ArrayList">
		select * from product
		<where>
		<if test="list.size != 0">
		category_macro in
		<foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
		#{item}
		</foreach>
		</if>
		and product_onsale = 'Y'
		</where>
	</select>
	
	<select id="selectMemberInterest" resultType="string">
		select member_interest from member where seq_member_no = #{memberNo}
	</select>
	
	<select id="couponList" resultMap="couponListMap">
		select c.*,ct.user_date 
		from coupon_listt ct join coupon c on ct.seq_coupon_no = c.seq_coupon_no
		where ct.seq_member_no = #{buyerNo} and ct.coupon_status='N'
	</select>
	<resultMap type="map" id="couponListMap"></resultMap>
</mapper>
