<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="basket">
	<select id="selectOneProduct" resultType="product">
		select * from product where seq_product_no = #{num}
	</select>
	<select id="selectJoinMember" resultType="m">
		select * from member where seq_member_no = #{sellerNo}
	</select>
	<insert id="insertAsk">
		insert into product_ask values ( seq_ask_no.nextval, #{askContent}, 'N', sysdate )
	</insert>
	
</mapper>
