<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="basket">
	<select id="selectOneProduct" resultType="product">
		select * from product where seq_product_no = #{num}
	</select>
	<select id="selectJoinMember" resultType="m">
		select * from member where seq_member_no = #{sellerNo}
	</select>
	<insert id="insertBasket">
		insert into basket values (seq_basket_no.nextval, #{seqMemberNo}, #{seqProductNo})
	</insert>
	<select id="selectProductList" resultMap="basketMap">
	select * from basket b join product p  on b.seq_product_no =p.seq_product_no join member m on b.seq_member_no =  m.seq_member_no where m.seq_member_no = #{seqMemberNo}
	</select>
	<resultMap type="map" id="basketMap"></resultMap>
	<delete id="deletBasketList">
		delete from basket where seq_basket_no = #{seqBasketNo}
	</delete>

	<select  id="selectSum" resultType="_int">
	select sum(product_price) from basket b join product p  on b.seq_product_no =p.seq_product_no join member m on b.seq_member_no =  m.seq_member_no where m.seq_member_no = #{seqMemberNo}
	</select>

	<insert id="insertAsk" parameterType="productAsk">
		insert into product_ask values ( seq_ask_no.nextval, #{askContent}, 'N', sysdate , #{askUser})
		<selectKey order="AFTER" resultType="_int" keyProperty="seqAskNo">
			select seq_ask_no.currval from dual
		</selectKey>
	</insert>
	<update id="updateProduct" parameterType="map">
		update product set seq_ask_no = #{askNo} where seq_product_no = #{productNo}
	</update>
	
	<select id="searchItems" resultMap="searchMap">
		select * from product where product_name like '%'||#{searchKeyword}||'%' and product_onsale = 'Y'
	</select>
	<resultMap type="map" id="searchMap"></resultMap>
	
	<select id="searchItemsAjax" resultMap="searchAjaxMap">
		select * from product where product_name like '%'||#{myData}||'%' and product_onsale = 'Y'
	</select>
	<resultMap type="map" id="searchAjaxMap"></resultMap>

	
	<select id="selectOneBasket" resultType="basket">
		select * from basket where seq_member_no = #{seqMemberNo} and seq_product_no = #{seqProductNo}	
	</select>
	


</mapper>
