<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="auction">
	<select id="selectctgList" resultType="categoryMacro">
		select * from category_macro
	</select>
	<select id="selectctgmlist" parameterType="string" resultType="category">
		select * from category_micro where category_macro = #{ctgcode}
	</select>
	<insert id="insertAuctionRegist">
		insert into auction_regist values(seq_auction_regist_no.nextval , #{seqMemberNo}, #{sdate} , #{edate} ,#{auctionTitle}
										, #{auctionImageMain} , #{auctionImageSub1} , #{auctionImageSub2} , #{auctionImageSub3} 
										, #{auctionPrice} , #{auctionStatus} , #{auctionMember} , #{auctionPhone} , #{auctiondetail},default)

	</insert>
	<select id="selectAuctionList" resultMap="selectAuctionList">
		SELECT * FROM (SELECT * FROM auction ORDER BY auction_no DESC) WHERE ROWNUM <![CDATA[ < ]]> 5
	</select>
	<resultMap type="map" id="selectAuctionList"></resultMap>
	
	<select id="selectAuction" resultMap="selectAuction">
		select * from auction where auction_no = #{auctionNo}
	</select>
	<resultMap type="map" id="selectAuction"></resultMap>
	
	<select id="selectCtgMacroName" resultType="string">
		select category_name from category_macro where category_macro = #{category_macro}
	</select>
	
	<select id="selectCtgMicroName" resultType="string">
		select category_name from category_micro where category_micro = #{MICRO} and category_macro = #{MACRO}
	</select>
	
	<select id="selectAuctionHistory" resultMap="selectAuctionHistory">
		select * from auction_history where seq_auction_no = #{auction_no}
	</select>
	<resultMap type="map" id="selectAuctionHistory"></resultMap>
	
	<select id="selectMyHistory" resultMap="selectMyHistory">
		SELECT * FROM (SELECT * FROM auction_history ORDER BY price desc) WHERE rownum = 1 and member_no = #{MemberNo} and seq_auction_no = #{AuctionNo}
	</select>
	<resultMap type="map" id="selectMyHistory"></resultMap>
</mapper>
