<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="news">
	<select id="selectNewsList" resultMap="newsMap">
		select * from board where board_kinds = 1 order by seq_board_no desc
	</select>
	<resultMap type="Map" id="newsMap">
	
	</resultMap>
	
</mapper>
