<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cc">
	<!-- 공지사항 -->
	<select id="selectNewsList" resultMap="newsMap">
		select * from board where board_kinds = '1' order by seq_board_no desc
	</select>
	<resultMap type="Map" id="newsMap">
	
	</resultMap>
	
	<select id="countNewsList" resultType="_int">
		select count(*) from board where board_kinds = '1'
	</select>
	
	<insert id="insertNews" parameterType="cc">
    	insert into board values(seq_board_no.nextval, #{boardtitle},#{boardcontent},default,'관리자',null,1,1 )
    </insert>
    
    <update id="updateNews">
    	update board set board_title = #{boardtitle},
    					 board_content = #{boardcontent}
    	where seq_board_no = #{seq_board_no}
    </update>
    <delete id="deleteNews">
    	delete from board where seq_board_no = #{seq_board_no} 
    </delete>
    
    
    <!-- 자주묻는질문 -->
    <select id="selectQnaList" resultMap="qnaMap">
		select * from board where board_kinds = '2' order by seq_board_no asc
	</select>
	<resultMap type="Map" id="qnaMap">
	
	</resultMap>
	
    <select id="selectSearchList" resultMap="searchMap">
		select * 
		from board 
		where board_kinds = '2' 
		 and (board_title like '%'||#{searchKeyword}||'%' 
		   or board_content like '%'||#{searchkeyword}||'%') 
	</select>
	<resultMap type="Map" id="searchMap">
	
	</resultMap>
	<select id="countQnaList" resultType="_int">
		select count(*) 
		from board 
		where board_kinds = '2'
		and (board_title like '%'||#{searchKeyword}||'%' 
		   or board_content like '%'||#{searchkeyword}||'%')
	</select>
	<select id="selectMainList" resultType="cc">
		select * from board where seq_board_no = #{seq_board_no}
	</select>
	
	
</mapper>
